version: 2.0

jobs:
  "package_build":
    machine:
      image: ubuntu-1604:201903-01
    working_directory: ~/quicksprint
    environment:
      TERM: vt100
      DDEV_NO_INSTRUMENTATION: true
    steps:
    - checkout
    - run:
        command: ./.circleci/circle_vm_setup.sh
        name: NORMAL Circle VM setup - tools, docker
    - run:
        command: source ~/.bashrc && echo "y" | ./package_drupal_script.sh
        name: Run the package_drupal_script.sh
        no_output_timeout: "20m"
    - persist_to_workspace:
        root: ~/
        paths:
        - quicksprint
        - tmp
  "test_package":
    machine:
      image: ubuntu-1604:201903-01
    working_directory: ~/quicksprint
    environment:
      TERM: vt100
      DDEV_NO_INSTRUMENTATION: true
    steps:
    - attach_workspace:
        at: ~/
    - run:
        command: ./.circleci/circle_vm_setup.sh
        name: NORMAL Circle VM setup - tools, docker
    - run: source ~/.bashrc && tests/test_drupal_quicksprint.sh


  "artifacts":
    machine:
      image: ubuntu-1604:201903-01
    working_directory: ~/quicksprint
    environment:
      ARTIFACTS: ~/artifacts
      DDEV_NO_INSTRUMENTATION: true
    steps:
    - attach_workspace:
        at: ~/
    - run:
        command: ./.circleci/circle_vm_setup.sh
        name: NORMAL Circle VM setup - tools, docker
    - run:
        command: |
          sudo mkdir $ARTIFACTS && sudo chmod ugo+w $ARTIFACTS && cp ~/tmp/*$(cat .quicksprint_release.txt)*.{tar.gz,zip}  $ARTIFACTS
          cd $ARTIFACTS
          for item in *.tar.gz *.zip; do
            sha256sum $item > $item.sha256.txt
          done
        name: make artifacts tarball downloads
        no_output_timeout: "20m"
    - store_artifacts:
        path: $ARTIFACTS
        name: Artifact storage

  publish-github-release:
    docker:
    - image: cibuilds/github:0.10
    steps:
    - attach_workspace:
        at: ~/
    - run:
        name: "Publish Release on GitHub"
        command: |
          ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} $ARTIFACTS

workflows:
  version: 2
  normal_build_and_test:
    jobs:
    - package_build
    - test_package:
        requires:
        - package_build
    - artifacts:
        requires:
        - package_build

  nightly_build:
    triggers:
      - schedule:
          cron: "0 3 * * 1-5"
          filters:
            branches:
              only:
                - master
    jobs:
    - package_build
    - test_package:
        requires:
        - package_build
    - artifacts:
        requires:
        - package_build

  tag_build:
    jobs:
    - package_build:
        filters:
          tags:
            only:
            - "/.*/"
          branches:
            ignore: /.*/

    - test_package:
        requires:
        - package_build
        filters:
          tags:
            only:
            - "/.*/"
          branches:
            ignore: /.*/
    - artifacts:
        requires:
        - package_build
        filters:
          tags:
            only:
            - "/.*/"
          branches:
            ignore: /.*/
    - publish-github-release:
        requires:
        - artifacts
        - test_package
        filters:
          tags:
            only:
            - "/.*/"
          branches:
            ignore: /.*/

